{
  "presets": [
    ["env", {
      "useBuiltIns": "usage",
      "exclude": ["transform-regenerator"],
      "targets": {
        "node": "8.5.0",
      },
    }]
  ],
  "plugins": [
    "dynamic-import-node",
    ["fast-async", {
      "spec":true
    }],
    ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV"
      ]
    }],
    ["lodash", { "id": ["lodash"] }],
    ["module-resolver", {
      "root": ["."]
    }]
  ]
}
