{
  "presets": [
    ["env", {
      "targets": {
        <<NODE "node": "<nodeTarget>", >>
        <<WEB "browsers": ["<webTarget>"] >>
      },
    }]
  ],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV"
      ]
    }],
    ["lodash", { "id": ["lodash"] }],
    ["module-resolver", {
      "root": ["."]
    }]
  ]
}
