{
  "presets": [
    ["env", {
      "targets": {
        <<NODE "node": "<nodeTarget>", >>
        <<WEB "browsers": ["<webTarget>"] >>
      },
    }]
  ],
  "plugins": [
    "transform-inline-environment-variables"
  ]
}
