{
  "presets": [
    ["env", {
      "targets": {
        "node": "4",
      },
    }]
  ],
  "plugins": [
    ["transform-inline-environment-variables", {
      "include": [
        "NODE_ENV"
      ]
    }],
    ["lodash", { "id": ["lodash"] }],
    ["module-resolver", {
      "root": ["/home/t/Desktop/projects/github/js-library-setup-guide-rev/__scripts__/__tests__/builds/should_omit_all_root_files/"]
    }]
  ]
}
